In [18]:
#importing dependencies
import csv
import psycopg2
import pandas as pd
#connecting to database
conn = psycopg2.connect("host=localhost dbname=sqlHW user=postgres password=9DIRK9wade")
cur = conn.cursor()

In [19]:
#creating and populating tables
#conn.rollback()
#create departments table
cur.execute("""
DROP TABLE departments CASCADE;
CREATE TABLE departments(
    dept_no VARCHAR(4) PRIMARY KEY NOT NULL,
    dept_name VARCHAR(50) NOT NULL)""")
conn.commit()

#reading departments csv file
departments_reader = csv.DictReader(open('data/departments.csv'))

#populating departments table
for row in departments_reader:
    
    sqlInsert = \
            "INSERT INTO departments (dept_no, dept_name)  \
             VALUES (%s, %s)"
    cur.execute(sqlInsert, (row['dept_no'],
                               row['dept_name']))
conn.commit()

In [20]:
#conn.rollback()

#creating dept_emp table
cur.execute("""
DROP TABLE dept_emp;
CREATE TABLE dept_emp(
    emp_no INT NOT NULL REFERENCES employees(emp_no),
    dept_no VARCHAR(4) REFERENCES departments(dept_no) NOT NULL,
    from_date DATE,
    to_date DATE NOT NULL)""")
conn.commit()

#reading dept_emp csv file
dept_emp_reader = csv.DictReader(open('data/dept_emp.csv'))

#populating dept_emp table
for row in dept_emp_reader:
    
    sqlInsert = \
        "INSERT INTO dept_emp (emp_no, dept_no, from_date, to_date)  \
        VALUES (%s, %s, %s, %s)"
    cur.execute(sqlInsert, (row['emp_no'], row['dept_no'], 
                                row['from_date'], row['to_date']))
    
conn.commit()

In [21]:
#conn.rollback()
cur.execute("""
DROP TABLE employees CASCADE;
CREATE TABLE employees(
    emp_no INT PRIMARY KEY NOT NULL,
    birth_date DATE NOT NULL,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    gender VARCHAR(1) NOT NULL,
    hire_date DATE NOT NULL)""")
conn.commit()

employees_reader = csv.DictReader(open('data/employees.csv'))

for row in employees_reader:
    
    sqlInsert = \
        "INSERT INTO employees(emp_no, birth_date, first_name, last_name, gender, hire_date)  \
        VALUES (%s,%s,%s,%s,%s,%s)"
    cur.execute(sqlInsert, (row['emp_no'], row['birth_date'], row['first_name'], row['last_name'],
                            row['gender'], row['hire_date']))
conn.commit()

In [22]:
# conn.rollback()
cur.execute("""
DROP TABLE salaries;
CREATE TABLE salaries(
    emp_no INT PRIMARY KEY NOT NULL REFERENCES employees(emp_no),
    salary INT NOT NULL,
    from_date DATE NOT NULL,
    to_date DATE NOT NULL)""")
conn.commit()

salaries_reader = csv.DictReader(open('data/salaries.csv'))

for row in salaries_reader:
    
    sqlInsert = \
        "INSERT INTO salaries(emp_no, salary, from_date, to_date)  \
        VAlUES (%s,%s,%s,%s)"
    cur.execute(sqlInsert, (row['emp_no'], row['salary'], row['from_date'], row['to_date']))
    
conn.commit()

In [25]:
#conn.rollback()
cur.execute("""
DROP TABLE dept_manager;
CREATE TABLE dept_manager(
    dept_no VARCHAR(4) NOT NULL REFERENCES departments(dept_no),
    emp_no INT NOT NULL REFERENCES employees(emp_no),
    from_date DATE NOT NULL,
    to_date DATE NOT NULL)""")
conn.commit()

dept_manager_reader = csv.DictReader(open('data/dept_manager.csv'))

for row in dept_manager_reader:
    
    sqlInsert = \
        "INSERT INTO dept_manager(dept_no, emp_no, from_date, to_date)  \
        VALUES (%s,%s,%s,%s)"
    cur.execute(sqlInsert, (row['dept_no'], row['emp_no'],
                           row['from_date'], row['to_date']))
conn.commit()

In [24]:
#conn.rollback()
cur.execute("""
DROP TABLE titles;
CREATE TABLE titles(
    emp_no INT NOT NULL REFERENCES employees(emp_no),
    title VARCHAR(50) NOT NULL,
    from_date DATE NOT NULL,
    to_date DATE NOT NULL)""")
conn.commit()

titles_reader = csv.DictReader(open('data/titles.csv'))

for row in titles_reader:
    
    sqlInsert = \
        "INSERT INTO titles(emp_no, title, from_date, to_date)  \
        VALUES (%s,%s,%s,%s)"
    cur.execute(sqlInsert, (row['emp_no'], row['title'],
                           row['from_date'], row['to_date']))
conn.commit()